<script setup>
import Share from 'avris-vue-share';

const { public: { baseUrl } } = useRuntimeConfig();
</script>

<template>
    <footer>
        <div class="container my-5 py-5 text-muted">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-grow-1">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><T k="footer.author" class="me-1"/> <strong>andrea vos</strong></li>
                        <li class="list-inline-item"><a href="https://avris.it" target="_blank" rel="noopener">avris.it</a></li>
                        <li class="list-inline-item"><a href="https://pronouns.page/@andrea" target="_blank" rel="noopener">@andrea</a></li>
                    </ul>
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><T k="footer.license"/>: <a href="https://oql.avris.it/license?c=Andrea%20Vos%7Chttps://avris.it" target="_blank" rel="noopener">OQL</a></li>
                        <li class="list-inline-item"><a href="https://gitlab.com/Avris/corevalues" target="_blank" rel="noopener"><T k="footer.source"/></a></li>
                        <li class="list-inline-item"><nuxt-link to="/privacy"><T k="privacy.header"/></nuxt-link></li>
                        <li class="list-inline-item"><nuxt-link to="/introspection"><T k="introspection.header"/></nuxt-link></li>
                        <li class="list-inline-item"><nuxt-link to="/stats"><T k="stats.header"/></nuxt-link></li>
                    </ul>
                    <ul class="list-inline mb-2 small">
                        <li class="list-inline-item">
                            <T k="footer.using" class="me-1"/>
                            <a href="https://tinytranslator.avris.it/" target="_blank" rel="noopener">TinyTranslator</a>,
                            <a href="https://tinymarkdown.avris.it/" target="_blank" rel="noopener">TinyMarkdown</a>,
                            <a href="https://tinyfingerprint.avris.it/" target="_blank" rel="noopener">TinyFingerprint</a>,
                            <a href="https://gitlab.com/Avris/ipvx" target="_blank" rel="noopener">ipvx</a>,
                            <a href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap</a>,
                            <a href="https://design.ubuntu.com/font" target="_blank" rel="noopener">Ubuntu Font</a>,
                            <a href="https://github.com/googlefonts/noto-emoji" target="_blank" rel="noopener">Noto Emoji</a>,
                            <a href="https://getwaves.io" target="_blank" rel="noopener">getwaves.io</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center py-3">
                    <Share :baseUrl="baseUrl" :title="`${$t('description.question')} ${$t('description.presentation')}`"/>
                </div>
            </div>
        </div>
    </footer>
</template>
