<script setup>
import {onMounted} from "vue";

onMounted(() => {
    const nuxtApp = useNuxtApp();
    nuxtApp.$translator.switchLanguage(nuxtApp.$translator.detectLanguage());
})
</script>

<template>
    <header>
        <div class="bg-dark text-white">
            <div class="container pt-5 pb-1">
                <div class="d-flex flex-column flex-md-row">
                    <h1 class="flex-grow-1 py-2">
                        <nuxt-link to="/" class="text-decoration-none text-white">
                            <Logo/>
                            <T k="title"/>
                        </nuxt-link>
                    </h1>
                    <ul class="list-inline py-2">
                        <li v-for="(name, code) in $translator.languages()" class="list-inline-item">
                            <button @click.prevent="$translator.switchLanguage(code)"
                               :class="['btn', 'btn-sm', code === $translator.language() ? 'btn-light' : 'text-light']">
                                {{ name }}
                            </button>
                        </li>
                    </ul>
                </div>
                <p>
                    <T k="description.question"/>
                    <br/>
                    <T k="description.presentation"/>
                </p>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 160 1440 160" class="wave"><path fill="#212529" fill-opacity="1" d="M0,288L80,282.7C160,277,320,267,480,245.3C640,224,800,192,960,186.7C1120,181,1280,203,1360,213.3L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg><!-- https://getwaves.io/ -->
    </header>
</template>
