<template>
    <Card>
        <h2><T k="introspection.header"/></h2>
        <ul>
            <li v-for="question in $t('introspection.questions')" class="mb-1">
                {{ question }}
            </li>
        </ul>
    </Card>
</template>
