<template>
    <Card>
        <p><T k="steps.start.why"/></p>
        <p class="text-center">
            <nuxt-link to="/" class="btn btn-dark btn-lg">
                <Logo class="me-2"/>
                <T k="display.cta"/>
            </nuxt-link>
        </p>
    </Card>
</template>
