<template>
    <Card>
        <h2><T k="privacy.header"/></h2>
        <p><T k="privacy.nopersonaldata"/></p>
        <p><T k="privacy.link"/></p>
        <p><T k="privacy.stats"/></p>
        <p><T k="privacy.analytics"/></p>
    </Card>
</template>
