<script setup>
import TinyMarkdown from 'tinymarkdown';
import * as CONFIG from '../src/config';

const props = defineProps({
    k: { required: true },
    params: { 'default': () => { return {}; }}
})

</script>

<template>
    <span v-html="TinyMarkdown(
        $t(props.k, {CONFIG, ...props.params}) || '',
        {links: true}
    )"></span>
</template>
