<script setup>
import {computed, ref, watch, onMounted} from 'vue';
import Value from "./Value";
import { shuffled } from '../src/helpers';

const props = defineProps({
    values: { required: true, type: Array },
    target: { required: true, type: Number },
    nextStep: { required: true, type: Function },
    filter: { type: Boolean },
})

const selected = ref([]);
watch(() => props.values, (nv, ov) => {
    selected.value = selected.value.filter(v => nv.includes(v));
})

const toggle = (value) => {
    if (selected.value.includes(value)) {
        selected.value = selected.value.filter(v => v !== value);
    } else {
        selected.value.push(value);
    }
}

const badgeStatus = computed(() => {
    if (selected.value.length === props.target) {
        return 'text-bg-success';
    }
    if (selected.value.length > props.target) {
        return 'text-bg-danger';
    }
    return 'text-bg-dark';
});

const filter = ref('')

const { public: { debug } } = useRuntimeConfig();

const fillUpRandom = () => {
    selected.value = shuffled(props.values).slice(0, props.target);
}

</script>

<template>
    <div class="text-center">
        <p class="small">
            <T k="picker.instruction" :params="{target}"/>
        </p>
        <div class="d-flex align-items-center justify-content-center">
            <span class="h3 mb-0 mx-2">
                <span :class="['badge', badgeStatus, 'fw-normal']">
                    <strong>{{selected.length}}</strong>/{{props.target}}
                </span>
            </span>
            <button v-if="debug" class="btn btn-dark btn-sm shadow mx-2" @click="fillUpRandom">
                🔀 [debug]
            </button>
            <button class="btn btn-dark btn-sm shadow mx-2"
                    :disabled="selected.length !== props.target"
                    @click="props.nextStep(selected)">
                ➤ <T k="picker.next"/>
            </button>
        </div>
        <input v-if="props.filter"
               v-model="filter"
               :placeholder="$t('picker.filter')"
               class="form-control form-control-sm mt-2"
        />
        <hr/>
    </div>
    <div class="row">
        <template v-for="value in values" :key="value">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2" v-show="filter === '' || value.includes(filter.toLowerCase())">
                <Value :value="value" :selected="selected.includes(value)" @click="toggle(value)"/>
            </div>
        </template>
    </div>
</template>
