<script setup>
const props = defineProps({
    value: { required: true },
    selected: { type: Boolean },
    display: { type: Boolean },
    big: { type: Boolean },
    number: { },
})
</script>

<template>
    <button :class="['btn', props.selected ? 'btn-dark shadow' : 'text-muted', 'w-100', 'my-2', 'text-nowrap', display ? 'cursor-default' : '', big ? 'btn-lg' : '']">
        <span v-if="number !== undefined" class="badge text-bg-light rounded-pill me-2">{{ number }}</span>
        <T :k="'values.' + props.value"/>
    </button>
</template>
