<script setup>
import {ref, watch} from 'vue';
import draggable from 'vuedraggable';

const props = defineProps({
    values: { required: true, type: Array },
    nextStep: { required: true, type: Function },
})

const sorted = ref([...props.values]);
watch(() => props.values, (nv, ov) => {
    sorted.value = [...nv];
})
</script>

<template>
    <div class="text-center">
        <p class="small">
            <T k="steps.sort.instruction"/>
        </p>
        <p>
            <button class="btn btn-dark btn-sm shadow" @click="props.nextStep(sorted)">
                ➤ <T k="picker.next"/>
            </button>
        </p>
        <hr/>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <draggable tag="ul" v-model="sorted" class="list-unstyled" ghostClass="ghost" item-key="">
                <template #item="{ element, index }">
                    <li>
                        <Value :value="element" selected :number="index + 1"/>
                    </li>
                </template>
            </draggable>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.ghost {
    opacity: 0.5;
}
</style>
