<script setup>
import {ref} from "vue";

const props = defineProps({
    steps: { required: true, type: Array },
})
const activeStep = ref(0);

const STAGES = {
    done: {
        buttonClass: 'btn-success',
        badgeClass: 'text-bg-dark',
    },
    active: {
        buttonClass: 'btn-dark',
        badgeClass: 'text-bg-light',
    },
    upcoming: {
        buttonClass: 'btn-light',
        badgeClass: 'text-bg-light border',
    }
}

const stage = (i) => {
    if (i < activeStep.value) {
        return 'done';
    }
    if (i === activeStep.value) {
        return 'active';
    }
    return 'upcoming';
}

const nextStep = () => {
    activeStep.value++;
}
</script>

<template>
    <div class="card border-0 card-shadow">
        <div class="card-header p-0">
            <div class="btn-group d-flex">
                <button v-for="(step, i) in props.steps"
                        :class="['btn', STAGES[stage(i)].buttonClass, 'px-1']"
                        :disabled="stage(i) === 'upcoming'"
                        @click="activeStep = i"
                >
                    <span :class="['badge', 'rounded-pill', 'me-lg-2', STAGES[stage(i)].badgeClass]">
                        {{ i + 1 }}
                    </span>
                    <T :k="`steps.${step}.header`" class="d-none d-md-block d-lg-inline"/>
                </button>
            </div>
        </div>
        <div v-for="(step, i) in props.steps" :class="['card-body', i === activeStep ? 'd-block-force' : 'd-none']">
            <slot :name="step" :nextStep="nextStep"></slot>
        </div>
    </div>
</template>

<style lang="scss">
.card-header .btn-group .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
</style>
