body {
    background-image: radial-gradient(circle at top center, rgb(255,255,255),rgb(236,236,236));
    margin: 0;
}

header .wave {
    filter: drop-shadow(0 20px 8px #d9d9d9);
    position: relative;
    top: -1px;
}

footer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    overflow: auto;
    font-size: 0.8rem;
}

.card-shadow {
    box-shadow: -20px 20px 60px #d9d9d9,
    20px -20px 60px #ffffff;
    border-radius: 1rem;
    overflow: hidden;
}

.cursor-default {
    cursor: default !important;
}

