@import 'https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Noto+Color+Emoji&display=swap';

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$font-family-sans-serif: 'Ubuntu', 'Noto Color Emoji', sans-serif;
$headings-font-family: $font-family-sans-serif;
$font-size-root: 20px;

$link-color: $secondary;
