<script setup>
const { public: { baseUrl, plausibleUrl } } = useRuntimeConfig();
</script>

<template>
    <Html :lang="$translator.language()">
        <Head>
            <Title>{{ $t('title') }}</Title>

            <Meta name="description" :content="`${$t('description.question')} ${$t('description.presentation')}`" />
            <Meta name="keywords" :content="$t('keywords')" />
            <Meta name="author" content="Andrea Vos <andrea@avris.it>" />

            <Meta property="og:type" content="article" />
            <Meta property="og:title" :content="$t('title')" />
            <Meta property="og:url" :content="baseUrl" />
            <Meta property="og:image" :content="`${baseUrl}/banner.png`" />

            <Meta name="twitter:card" content="summary_large_image"/>
            <Meta name="twitter:title" :content="$t('title')"/>
            <Meta name="twitter:description" :content="`${$t('description.question')} ${$t('description.presentation')}`"/>
            <Meta name="twitter:image" :content="`${baseUrl}/banner.png`"/>

            <Link rel="icon" href="./favicon.svg" sizes="any" type="image/svg+xml"/>
        </Head>
    </Html>
    <div class="d-flex flex-column min-vh-100">
        <Header/>
        <main class="flex-grow-1 mt-5">
            <div class="container">
                <slot/>
            </div>
        </main>
        <Footer class="mt-5"/>
    </div>
</template>

<style lang="scss">
@import '../assets/styles/app';
</style>
