<script setup>
import { useRoute } from 'vue-router';
import { codeManager } from '../src/helpers';

let values;
try {
    values = codeManager.decode(useRoute().params.code);
} catch {}
</script>

<template>
    <template v-if="values === undefined">
        <h2 class="my-5 py-5">
            <T k="display.invalid"/>
        </h2>
        <Invitation class="my-5"/>
    </template>
    <template v-else>
        <Head>
            <Title>{{ $t('display.header') + ' ' + values.map(v => $t('values.' + v)).join(', ') }}</Title>
        </Head>
        <h2>
            <T k="display.header"/>
        </h2>
        <div class="row">
            <div v-for="(value, i) in values" class="col-12 col-md-6 col-lg-4">
                <Value :value="value" selected display big :number="i + 1"/>
            </div>
        </div>
        <Invitation class="my-5"/>
        <Introspection class="my-5"/>
    </template>
</template>
