<script setup>
import {computed, onMounted, ref, watch} from 'vue';
import {codeManager, shuffled} from '../src/helpers';
import {STEPS, VALUES} from '../src/config';
import Share from 'avris-vue-share';
import ClipboardJS from 'clipboard';

const seed = parseInt(useNuxtApp()?.ssrContext?.event?.context?.seed || useCookie('seed').value);
const { public: { baseUrl } } = useRuntimeConfig();

const consent = ref(false);

const values = [
    ref(shuffled(VALUES, seed)),
    ref([]),
    ref([]),
    ref([]),
    ref([]),
];

onMounted(() => {
    new ClipboardJS('.btn-clipboard');
});

const saveValues = (step, triggerNextStep) => {
    return (selectedValues) => {
        values[step + 1].value = selectedValues;
        triggerNextStep();
    }
}


const finalValues = computed(() => {
    return [...values[values.length - 1].value];
});

const code = computed(() => {
    if (!finalValues.value.length) { return null; }

    try {
        return codeManager.encode(finalValues.value);
    } catch {
        return null;
    }
});

watch(finalValues, async () => {
    if (!consent.value || !finalValues.value.length) { return; }

    await fetch('/api/save-values', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({values: finalValues.value}),
    })
});
</script>

<template>
    <Wizard :steps="['start', 'step-1', 'step-2', 'step-3', 'sort', 'done']">
        <template #start="{ nextStep }">
            <div class="p-lg-4">
                <p><T k="steps.start.why"/></p>
                <hr/>
                <p><T k="steps.start.intro"/></p>
                <p><T k="steps.start.wrong"/></p>
                <p><T k="steps.start.random"/></p>
                <p>
                    <label>
                        <input type="checkbox" v-model="consent" class="me-2">
                        <T k="steps.start.consent.optional" class="text-muted mx-1 small"/>
                        <T k="steps.start.consent.text"/>
                        <T k="steps.start.consent.privacy" class="text-muted mx-1 small"/>
                    </label>
                </p>
                <p class="text-center mt-4">
                    <button class="btn btn-dark btn-lg" @click="nextStep">
                        ➤ <T k="steps.start.start"/>
                    </button>
                </p>
            </div>
        </template>

        <template #step-1="{ nextStep }">
            <ValuePicker :values="values[0].value" :target="STEPS[0]" :nextStep="saveValues(0, nextStep)" filter/>
        </template>

        <template #step-2="{ nextStep }">
            <ValuePicker :values="values[1].value" :target="STEPS[1]" :nextStep="saveValues(1, nextStep)"/>
        </template>

        <template #step-3="{ nextStep }">
            <ValuePicker :values="values[2].value" :target="STEPS[2]" :nextStep="saveValues(2, nextStep)"/>
        </template>

        <template #sort="{ nextStep }">
            <ValueSorter :values="values[3].value" :nextStep="saveValues(3, nextStep)"/>
        </template>

        <template #done>
            <div v-if="code" class="p-lg-4">
                <p class="h3"><T k="steps.done.congrats"/></p>
                <p><T k="steps.done.description"/></p>
                <div class="row">
                    <div v-for="(value, i) in values[4].value" class="col-12 col-md-6 col-lg-4">
                        <Value :value="value" selected display big :number="i + 1"/>
                    </div>
                </div>
                <hr/>
                <p><T k="steps.done.bookmark"/></p>
                <p><T k="steps.done.share"/></p>
                <div class="text-center">
                    <p>
                        <code class="mx-1 text-dark user-select-all d-block d-md-inline" id="code-link"><span class="text-muted">{{ baseUrl }}/</span><strong>{{ code }}</strong></code>
                        <button class="btn btn-outline-dark btn-sm mx-1 btn-clipboard" data-clipboard-target="#code-link">📋</button>
                        <a :href="`${baseUrl}/${code}`" target="_blank" rel="noopener" class="btn btn-outline-dark btn-sm mx-1">🔗</a>
                    </p>
                    <Share :baseUrl="baseUrl" :url="`/${code}`" :title="$t('display.share')"/>
                </div>
            </div>
            <div v-else>
                <p class="text-danger text-center">something went wrong… please contact me with a bug report (see info in the footer).</p>
            </div>
        </template>
    </Wizard>
    <Introspection v-if="finalValues.length" class="my-5"/>
</template>
