<script setup>
const { count, heatmap } = (await useFetch('/api/stats')).data.value;
</script>

<template>
    <h2>
        <T k="stats.header"/>
    </h2>
    <p>
        <T k="stats.intro"/>
    </p>
    <template v-if="count > 0">
        <p>
            <T k="stats.description" :params="{count}"/>
        </p>
        <div class="row">
            <div v-for="(occurances, value) in heatmap" class="col-12 col-md-6 col-lg-4">
                <Value :value="value" selected display big :number="occurances"/>
            </div>
        </div>
    </template>
    <p v-else class="text-danger text-center my-5 py-5">
        ⚠️
        <T k="stats.tooFew"/>
    </p>
    <Invitation class="my-5"/>
</template>
